  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #000000;
    pointer-events: none;
  }
  
  .counter {
    position: fixed;
    left: 50px;
    bottom: 50px;
    display: flex;
    align-items: space-evenly;
    height: 100px;
    font-size: 100px;
    line-height: 102px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
    font-weight: 400;
  }
  
  .counter-1,
  .counter-2,
  .counter-3 {
    position: relative;
    /* top: -15px; */
  }
  
  .num1offset1 {
    position: relative;
    /* right: -20px; */
  }
  
  .num1offset2 {
    position: relative;
    /* right: -10px; */
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    background: rgb(150, 150, 150);
  }
  
  .loader-1 {
    position: relative;
    background: #000000;
    width: 200px;
  }
  
  .loader-2 {
    position: relative;
    width: 100px;
    background: #000000;
  }
  
  .bar {
    height: 50px;
  }
  
  .website-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: space-between;
    height: 256px;
    margin-bottom: 20.63vh;

    opacity: 0;
  }

  @media screen and (max-width: 767px){
    .header {
       opacity: 0% !important;
    }
   }
  
  .header1 {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;

    transition-timing-function: ease-in-out;
    transition: 1s;
  }

  .header2 {
    position: absolute;
    right: 0;
    bottom: 0;
    user-select: none;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;

    transition-timing-function: ease-in-out;
    transition: 1s;
  }

  #hideMe {
    -moz-animation: cssAnimation 0s ease-in 15s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 15s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 15s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 15s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

  .revealer1 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 0;
    top: 0;
    width: 235px;
    height: 40px;
}

.revealer2 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    right: 0;
    bottom: 0;
    width: 420px;
    height: 40px;
}