.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

@media screen and (max-width: 767px){
    .card-container {
        margin-top: 32px !important;
    }
   }

.page {
    height: 100vh;
}

.about-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.section-projects {
    padding-top: 5rem;
}

.page-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    list-style-type: none;
    display: inline;
    background: transparent;
}

.connect {
    text-align: center;
    margin: 0;

    margin-top: auto;
    z-index: 2;
    font-size: xx-large;
    font-family:sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 767px){
    .connect {
        font-size: medium;
        font-weight: 500;
    }
   }

.socials {
    margin: 0;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-self: center;
    padding: 0;
    padding-top: 1rem;
}

@media screen and (max-width: 767px){
    .socials {
        width: 70%;
    }
   }

.divider {
    justify-self: flex-end;
    width: 100%;
    height: 0.01rem;
    background-color: white;
}

.footer {
    display: flex;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    justify-content: space-around;
    margin-bottom: -62px;
    padding-top: 2px;
}

.text {
    margin: 0;
}