.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.page {
    height: 100vh;
    width: 100%;
}

.about-section {
    width: 100%;
    height: 100%;
}

.section-projects {
    padding-top: 5rem;
}

.page-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    list-style-type: none;
    display: inline;
    background: transparent;
}

.connect {
    text-align: center;
    margin: 0;
    padding-top: 6rem;
    z-index: 2;
    font-size: xx-large;
    font-family:sans-serif;
    font-weight: 300;
}

.socials {
    margin: 0;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-self: center;
    padding: 0;
    padding-top: 1rem;
}

.divider {
    position:absolute;
    left: 0;
    bottom: -324%;
}

.footer {
    display: flex;
    position:absolute;
    left: 14px;
    bottom: -325.5%;
    font-size: 15px;
    font-weight: 300;
    width: 97.959183673%;
    justify-content: space-around;
}

.text {
    margin: 0;
}