.tag {
    padding-inline: 1rem;
    padding-block: .1rem;
    background: #343a40;
    border-radius: 1rem;
    user-select: none;
    margin: 0;
    font-size: 12px;
    /* 5px */
} 

.taglist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card {
    box-shadow: inset 0 -0.5rem 1rem rgba(0, 18, 27, 0.5), inset 0 0 1rem rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: black;
    /* background-color: #787878; */
    /* #212529 */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 260px;
    width: 475px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 1px white;
    position: relative;
}

@media screen and (max-width: 767px){
    .card {
        margin-top: 4vh;
        width: 80%;
        height: 80%;
    }
   }
   @media screen and (max-width: 400px){
    .card {
        margin-top: 5vh;
    }
   }

.card-preview {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    height: 180px;
    width: 270px;
    overflow: hidden;
}

.card-preview-placeholder {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    height: 180px;
    width: 270px;
    background: transparent;
    cursor: default;
}

@media screen and (max-width: 767px){
    .card-preview {
        height: 98px !important;
        width: 144px !important;
    }
    .card-preview-placeholder {
        height: 98px !important;
        width: 144px !important;
    }
   }

.card-body {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
}

.card-tags {
    display: flex;
    flex-direction: column;
}

.card-subtitle {
    margin: 0px 0px;
    padding: 0rem 0.2rem;
    color: lightgray;
    opacity: 50%;
    font-size: 100%;
    margin-bottom: 0.6rem;
}

@media screen and (max-width: 767px){
    .card-subtitle {
        margin-bottom: 0.6rem;
    }
   }
   @media screen and (max-width: 400px){
    .card-subtitle {
        margin-bottom: 0;
    }
   }


.card-img-preview {
    object-fit: cover;
    height: 180px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
    cursor: pointer;

    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@media screen and (max-width: 767px){
    .card-img-preview {
        height: 98px !important;
        width: 144px !important;
    }
   }

.card-img {
    height: 260px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 767px){
    .card-img {
        display: none;
    }
   }
   @media screen and (max-width: 400px){
    .card-img {
        display: block;
    }
   }

.card-title {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.6);
    margin: 0px 0px;
    padding: 0rem 0.2rem;
    font-size: 24px;
    height: 30px;
}

.card-description {
    margin: 0px;
    padding: 0rem 0.2rem;
    font-size: 15px;
    white-space: pre-wrap;
    height: 250px;
}

@media screen and (max-width: 767px){
    .card-description {
        font-size: 16px;
        height: 220px;
    }
   }
   @media screen and (max-width: 400px){
    .card-description {
        font-size: 14px;
        height: 260px;
    }
   }

.arrow {
    position: absolute;
    top: 95%;
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0%;

    transition-timing-function: ease-in-out;
    transition: 1s;
}

.arrow-invis {
    opacity: 100%;
}

.outer-form {
    height: 50%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 767px){
    .outer-form {
       width: 75% !important;
       height: 65% !important;
    }
   }

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.email {
    height: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid;
    border-bottom-color: white;
    background-color: black;
    font-family: monospace;
    font-size: 14px;
}

.name {
    height: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid;
    border-bottom-color: white;
    background-color: black;
    font-family: monospace;
    font-size: 14px;
}

.message {
    height: 40%;
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid;
    border-bottom-color: white;
    background-color: black;
    font-family: monospace;
    font-size: 14px;
}

.submit {
    align-self: center;
    height: 50px;
    width: 100px;
}

.about-word {
    font-size: 2vw;
    margin: 0px;
    margin-right: .6vw;
    font-weight: 700;
}


.about-span {
    opacity: 0.2;
}

.coolthing {
    margin: auto;
    border: 2px solid;
}

.navbar {
    background: transparent;
    height: 55px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    position: absolute;
    width: 100vw;
    left: 0%;
    top: 0;
    z-index: 999;
    align-items: flex-end;
    text-transform: uppercase;
    display: flex;
    position: fixed;
}

.name-container {
    align-self: center;
    padding: 20px;
}

.header-name {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: Inter,sans-serif;
}

.links-container {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    align-self: center;
}

.bullet {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: Inter,sans-serif;
    cursor: pointer;
}

.about {
    width: 55%;
    margin: auto;
    grid-row-start: 1;
    grid-column-start: 1;
}

@media screen and (max-width: 767px){
    .about {
        width: 100%;
    }
   }

.about-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.canvas-container {
    overflow: hidden;
    grid-row-start: 1;
    grid-column-start: 1;
}

.close-container {
    all: unset;
    position: absolute;
    cursor: pointer;
    right: 0;
}
  
.close-icon {
    width: 40px;
    height: 40px;
    color: #343a40;
}

.paragraph{
    display: flex;
    font-size: 30px;
    line-height: 1;
    padding: 40px;
    max-width: 1280px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 767px){
    .paragraph {
        font-size: 22px;
    }
   }
    
.shadow{
    position: absolute;
    opacity: 20%;
}
  
.word{
    position: relative;
    margin-right: 9px;
    margin-top: 12px;
}

@media screen and (max-width: 767px){
    .word {
        margin-right: 4px;
        margin-top: 7px;
    }
   }

@font-face {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/chakrapetch/v11/cIflMapbsEk7TDLdtEz1BwkeJI91R5_F_gUk0w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.page-header {
    z-index: 1;
    color: rgba(255, 255, 255);
    text-shadow: 0 0 0.9rem rgba(255, 255, 255);
    font-weight: 700;
    margin: 2px 0px;
    padding: 0rem 0.2rem;
    font-family: 'Chakra Petch';
    font-size: 3.5rem;
}

@media screen and (max-width: 767px){
    .page-header {
       font-size: 36px !important;
       text-align: center;
    }
   }

.page-header2{
    z-index: 1;
    color: rgba(255, 255, 255);
    text-shadow: 0 0 0.9rem rgba(255, 255, 255);
    font-weight: 700;
    margin: 2px 0px;
    padding: 0rem 0.2rem;
    position: absolute;
    font-family: 'Chakra Petch';
    font-size: 3.5rem;
}

@media screen and (max-width: 767px){
    .page-header2 {
       font-size: 36px !important;
       text-align: center;
    }
   }

.error input,
.error textarea {
  border-bottom: 2px solid red;
  transition: all 0.3s linear;
}
.success input,
.success textarea {
  border-bottom: 2px solid green;
  transition: all 0.3s linear;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 125px;
    height: 50px;
    border-radius: 2rem;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }
  @media screen and (max-width: 767px){
    .button {
        width: 95px;
        height: 40px;
        font-size: 12px;
    }
   }
  .button .button-text {
    position: absolute;
  }
  .button .foreground-text {
    opacity: 0;
    z-index: 1;
    color: black;
  }
  .button::after {
    content: "";
    position: relative;
    z-index: -1;
    opacity: 0%;
    width: 0;
    height: 0;
    border-radius: 2rem;
    background-color: #ffffff;
    border: 1px solid white;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .button:hover {
      border-color: transparent;
      cursor: pointer;
    }
    .button:hover::after {
      width: 100%;
      height: 100%;
      opacity: 100%;
    }
    .button:hover .button-text.foreground-text {
      opacity: 1;
    }
  }